* {
    font-family: 'Courier New', Courier, monospace;

}

.crepe .background{
    background-color: lightpink;
    margin:16px auto;
    border: black solid 1px;
    height:100%;
}

.crepe .title{
    margin: 10px;
}

.crepe .background img{
    border: darkred solid 1px;
    width:450px;
    height:50%;
    float:right;
    margin-right:150px;
}

.crepe h2{
    border-color:darkmagenta;
    margin:10px;
    display:inline-block;
    width:250px;
    border-radius: .5em;
}

.crepe p{
    margin:10px;
    width:250px;
    text-align: center;
}

.crepe .descriptions, .crepe .ingredients, .crepe .steps{
    display:inline-block;
    vertical-align: top;
}

.crepe .link-homepage{
    font-size:20px;
    margin:10px;
    border: darkred inset 2px;
    width:150px;
    display:block;
    text-align:center;
    margin-left:20px;
}




.title{
    text-align: center;
    background-color: lightblue;
    border: black solid 1px;
    border-radius:0.5em;
    width:600px;
    margin:5px auto;
}

h2{
    width:500px;
    border: darkorange solid 5px;
    margin: 25px auto;
    text-align: center;
}

.index li{
    border: green solid 5px;
    display:inline-block;
    margin:5px auto;
    padding:3px;
}

.index ul{
    border:darkblue dotted 8px;
    padding:4px;
    width: 500px;
    text-align: center;
    margin:0px auto;
}

.index .about{
    width:600px;
    border: darkslategray solid 4px;
    border-radius: .5em;
    padding:4px;
    margin: 0px auto;
}

.index .contact{
    width:600px;
    border: darkslategray solid 4px;
    padding:4px;
    border-radius: .5em;
    margin:0px auto;
}
